<div class="body" style="background-color: #eee;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
                <div class="footer-border"></div>
            </div>
        </div>
        <div class="row">
            <div style = "padding-top: 10px; padding-bottom: 10px">
                <p style="text-align: center">&copy; Incouma - Todos los derechos reservados. Template por <a href="http://azmind.com/free-bootstrap-themes-templates/" target="_blank">Azmind</a>. Elaborado por <a href="http://github.com/rNexeR" target="_blank">rNexeR</a>.
            </div>
        </div>
    </div>
</div>