<div class="body">
<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
            <a class="navbar-brand" [routerLink]="['/home']"><h1 style="color: white; font-size: 50px; font-family: palatino">INCOUMA</h1></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-right">
                <!--<li>
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/sorteos']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Sorteos</a>
                </li>
                <li>
                    <a [routerLink]="['/reporte']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Reporte</a>
                </li>
                <li>
                    <a [routerLink]="['/ventas']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Ventas</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Sign In</a>
                </li>
                <li>
                    <a [routerLink]="['/usuarios']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Usuarios</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
    <!--
    <div style="background-color: #174880">
        <div class="container">
            <p style="float: right">Usuario</p>
        </div> 
    </div>
    -->
</div>